@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  height: 100vh;
}

.productPage {
  background-image: url("/public/assets/1080h2r.jpg");
  background-size: cover;
  border-radius: 10px;
}

@layer components {
  .productPage span {
    @apply text-kawi animate-pulse;
  }
  a {
    @apply py-2 px-4 text-black font-semibold rounded-lg shadow-md hover:bg-kawi focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75;
  }
  span {
    @apply animate-pulse;
  }
}
